.breadcrumbs-items {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;

  .breadcrumbs-item {
    margin-left: 5px;
    font-size: .875rem;
    line-height: 1.3125rem;
    font-weight: 400;
    padding: 5px 0;
    display: flex;

    span {
      margin-left: 5px;
    }

    a {
      color: var(--main-color);
      text-decoration: none;
      padding-left: 15px;
    }
  }

  .breadcrumbs-category {
    background: #f5f5f5;
    border-radius: 7px;

    &:hover {
      background: #e8e8e8;
    }
  }
}