.cat-wrapper {
  display: flex;
  justify-content: space-around;
}

.cat-main-content {
  max-width: 75%;
}

.cat-sidebar {
  padding: 20px;
  font-size: .875rem;
  line-height: 1.3125rem;
  font-weight: 400;
  width: 310px;
}

.sidebar-title {
  font-weight: 700;
  letter-spacing: -1px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.sidebar-cat-menu {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    padding: 10px 5px 5px 15px;
    color: var(--main-color);


    a {
      color: var(--main-color);
      text-decoration: none;

      &:hover {
        font-weight: 600;
      }
    }
  }
}

.sidebar-item {
  margin-bottom: 30px;
}

.img-mini-vendor {
  display: block;
  width: 75px;
  height: auto;
}

.item_menu_vendor {
  display: flex;
  padding: 10px 5px;
  align-items: center;
}

.menu_info {
  margin-left: 10px;

  a {
    text-decoration: none;
    color: var(--blue-color);

    &:hover {
      font-weight: 600;
    }
  }
}