.cat-wrapper {
  display: flex;
  justify-content: space-around;
}

.cat-main-content {
  // border: 1px solid blueviolet;
  max-width: 80%;
}

.cat-sidebar {
  // border: 1px solid cyan;
  padding: 20px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  width: 400px;
}

.sidebar-title {
  font-weight: 700;
  letter-spacing: -1px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.sidebar-cat-menu {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    padding: 10px 5px 5px 5px;
    color: var(--main-color);

    a {
      color: var(--main-color);
      text-decoration: none;

      &:hover {
        font-weight: 600;
      }
    }
  }
}