.main-gpu-category-box {
  max-width: 95%;
  margin: 30px auto auto auto;
}

.list-category-admin {
  border-collapse: collapse;
  width: 100%;



  th {
    background-color: rgb(248, 250, 252);
    color: #475569;
    text-align: left;
    font-weight: 600;
    font-size: toRem(12);
    line-height: toRem(16);
    text-transform: uppercase;
  }

  td {
    font-weight: 500;
    font-size: torem(14);
    line-height: torem(20);
    color: #475569;
  }

  td,
  th {
    padding: 10px 15px;
    border: 1px solid rgba(0, 0, 0, .1);
  }

  tr {
    &:hover {
      background: rgba(151, 160, 169, .1);
    }
  }
}

.edit-cat,
.del-cat {
  line-height: 26px;
  display: block;
  text-decoration: none;
  text-align: center;

  &:hover {
    text-decoration: underline;
  }

  span {
    line-height: 26px;
    vertical-align: top;
    font-size: 22px;
  }
}

.edit-cat {
  color: var(--blue-color);
}

.del-cat {
  color: var(--red-color);

  span {
    margin-right: 5px;
  }
}

.war-del {
  background: rgba(239, 68, 68, .1);
}

.war-edit {
  background: rgba(21, 101, 192, .1);
}

td.table-cat-name {
  color: #1e293b;
}

.action-box {
  display: flex;
  justify-content: space-between;
}

.action-link {
  a {
    width: torem(32);
    height: torem(32);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    &:hover {
      color: var(--white-color);
    }

    span {
      font-size: torem(16);
    }
  }
}

a.view-link {
  color: rgb(90, 102, 241);
  background-color: rgba(90, 102, 241, .1);

  &:hover {
    background-color: rgb(90, 102, 241);
  }
}

a.update-link {
  color: rgb(96, 165, 250);
  background-color: rgba(96, 165, 250, .1);

  &:hover {
    background-color: rgb(96, 165, 250);
  }
}

a.delete-link {
  color: rgb(244, 63, 94);
  background-color: rgba(244, 63, 94, .1);

  &:hover {
    background-color: rgb(244, 63, 94);
  }
}