*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 26px;
}

body {
  height: 100%;
  overflow-x: hidden;
  color: var(--main-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

.c-red {
  color: var(--red-color);
}

.c-blue {
  color: var(--blue-color);
}

.c-green {
  color: var(--ligth-green-color);
}

.c-orange {
  color: var(--orange-color);
}

.p-25 {
  padding: 1.5625rem;
}

.p-20 {
  padding: toRem(20);
}

.p-15 {
  padding: .9375rem;
}

.p-25-20 {
  padding: 1.5625rem 1.25rem;
}

.bold-600 {
  font-weight: 600;
}

.size-14 {
  font-size: .875rem;
}

.w-25 {
  width: 25%;
}

.w-10 {
  width: 10%;
}

.text-u {
  text-transform: uppercase;
}

.mt-100 {
  margin-top: 100px;
}

.display-n {
  display: none;
}

.bgc-grey {
  background-color: var(--grey-header-color);
}

.table-img {
  max-width: 50px;
  height: auto;
  margin: 0 auto;
  display: block;
}

.list-category-admin {
  .th-ico-center {
    text-align: center;

    span {
      vertical-align: top;
    }
  }
}

.box-sh {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
}