/* FORM */
.form-area {
  background: var(--white-color);
  padding: 30px;
  border-radius: 1rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
}

/* FORM CREATE */
.form-container {
  max-width: 80%;
  margin: auto;

  p {
    font-weight: 700;
    line-height: 1.3125rem;
    font-size: .875rem;
  }

  input[type="text"],
  input[type="number"],
  textarea,
  select,
  input[type="file"] {
    margin-bottom: 20px;
    margin-top: 10px;
  }

  select {
    background: var(--white-color);
    border: 1px solid var(--inpt-b-color);
    padding: 10px;
    border-radius: 7px;
    font-family: var(--main-font);
    font-size: .875rem;
    outline: none;
  }
}

.form-container input[type="text"],
.form-container input[type="number"],
.form-container textarea {
  font-size: .9rem;
  line-height: 1.3rem;
  font-family: inherit;
  color: var(--main-color);
  border: 1px solid var(--inpt-b-color);
  padding: 10px 15px;
  border-radius: 10px;
}

.form-container input[type="number"] {
  width: 25%;
  padding-left: 15px;
}

.form-container input[type="text"],
.form-container textarea {
  width: 100%;
}

.form-container textarea {
  min-height: 300px;
}

.btn-create-gpu input {
  background: var(--ligth-fio-color);
  padding: 15px;
  font-size: 1rem;
  text-transform: uppercase;
  border: none;
  color: var(--fio-color);
  font-weight: 600;
  border-radius: 15px;
  cursor: pointer;
}

.btn-create-gpu input:hover {
  opacity: .8;
}