/* FORM */
.form-area {
  background: var(--white-color);
  padding: 30px;
  // border-radius: 1rem;
  // box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
}

/* FORM CREATE */
.form-container {
  margin: auto;

  p {
    font-weight: 700;
    line-height: 1.3125rem;
    font-size: .875rem;
  }

  input[type="text"],
  input[type="number"],
  textarea,
  select,
  input[type="file"] {
    margin-bottom: 20px;
    margin-top: 10px;
  }

  select {
    background: var(--white-color);
    border: 1px solid var(--inpt-b-color);
    padding: 10px;
    border-radius: 7px;
    font-family: var(--main-font);
    font-size: .875rem;
    outline: none;
  }
}

.form-container input[type="text"],
.form-container input[type="number"],
.form-container textarea {
  font-size: .9rem;
  line-height: 1.3rem;
  font-family: inherit;
  color: var(--main-color);
  border: 1px solid var(--inpt-b-color);
  padding: 10px 15px;
  border-radius: 10px;
}

.form-container input[type="number"] {
  width: 25%;
  padding-left: 15px;
}

.form-container input[type="text"],
.form-container textarea {
  width: 100%;
}

.form-container textarea {
  min-height: 300px;
}

.btn-create-gpu {
  margin-top: 20px;

  input {
    background: var(--blue-color);
    padding: 10px 15px;
    font-size: 1rem;
    border: none;
    color: var(--white-color);
    font-weight: 500;
    border-radius: 7px;
    cursor: pointer;

    &:hover {
      opacity: .8;
    }
  }
}

// DATA FORM NEW

.data-grid {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr 2fr;
  column-gap: 10px;
}

@media screen and (max-width: 1310px) {
  .data-grid {
    grid-template-columns: 2fr 2fr;
  }
}

@media screen and (max-width: 980px) {
  .data-grid {
    grid-template-columns: 1fr;
  }
}

.data-img-upload {
  margin-top: 20px;
  padding-right: 10px;
}

.data-img-core {
  max-width: 100%;
}

.description-data-text {
  font-weight: 500;
  font-size: .875rem;
  line-height: 1.5rem;
  color: var(--text-row-color);

  textarea {
    width: 100%;
    min-height: 300px;
    width: 100%;
    border: 1px solid var(--inpt-border-color);
    font-size: .875rem;
    line-height: 1.5rem;
    color: rgba(0, 0, 0, .87);
    padding: 7px 10px;
    font-family: var(--main-font);
    font-weight: 400;
    border-radius: 10px;
    margin-bottom: 20px;
  }
}

.data-item {

  // border: 1px solid #bdbaba;
  p {
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.5rem;
    color: var(--text-row-color);
  }

  input,
  select {
    width: 100%;
    border: 1px solid var(--inpt-border-color);
    font-size: .875rem;
    line-height: 1.5rem;
    color: rgba(0, 0, 0, .87);
    padding: 7px 10px;
    font-family: var(--main-font);
    font-weight: 400;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  input[type="file"] {
    border: none;
    outline: none;
    font-size: .875rem;
  }
}

.double-inpt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vendor-p {
  width: 30%;
}

.cat-select {
  width: 65%;

  select {
    padding: 9px;
  }
}

.g-clock,
.boost-clock,
.memory-clock,
.cores,
.tmus,
.rops,
.g-proc,
.m-size,
.m-type,
.bus-w {
  width: 48%;
}

.g-clock,
.boost-clock,
.memory-clock,
.cores,
.tmus,
.rops,
.m-size,
.bus-w {
  position: relative;
}

.g-clock,
.boost-clock,
.memory-clock,
.cores,
.tmus,
.rops,
.m-size,
.bus-w {

  &::after {
    content: 'MHz';
    font-size: .875rem;
    position: absolute;
    color: var(--inpt-after-color);
    top: 32px;
    right: 32px;
  }
}

.cores,
.tmus,
.rops {
  &::after {
    content: 'qt';
  }
}

.m-size {
  &::after {
    content: 'GB';
  }
}

.bus-w {
  &::after {
    content: 'bit';
  }
}

.pic-field {
  cursor: pointer;

  input {
    display: none;
  }
}

// FORM AREA CREATE GPU CATEGORY

.gpu-category-input-area {
  display: flex;
  justify-content: space-between;
}

.gpu-input-area {
  background-color: var(--white-color);
  padding: torem(25) torem(20) torem(10) torem(20);
  width: 49%;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
  border-radius: torem(5);
  font-size: torem(14);
  line-height: torem(20);
  font-weight: 500;
  overflow: hidden;

  input,
  textarea {
    border: 1px solid var(--inpt-border-color);
    padding: torem(7) torem(10);
    border-radius: torem(5);
    width: 100%;
    margin-bottom: torem(15);
    font-size: torem(14);
    line-height: torem(24);
    color: rgba(0, 0, 0, .87);
    font-family: var(--main-font);
  }

  textarea {
    min-height: 215px;
  }
}

.duo-inpt {
  display: flex;
  justify-content: space-between;

  p {
    width: 49%;
  }
}

.grey-marker {
  margin-top: torem(-10);
  color: #64748b;
  display: block;
  font-size: torem(12);
}

.admin-form-area {
  max-width: 75%;
  margin: 30px auto auto auto;
  border-radius: torem(5);
}

@media screen and (max-width: 980px) {
  .admin-form-area {
    max-width: 90%;
  }
}