@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
:root {
  --main-font: "Open Sans", sans-serif;
  --sidebar-color: #0f172a;
  --main-area-color: #f1f5f9;
  --white-color: #fff;
  --title-color: #1e293b;
  --main-color: #333e48;
  --border-color: #e2e8f0;
  --inpt-b-color: #ddd;
  --blue-color: #1565c0;
  --title-dash-color: #7983e9;
  --sub-title-color: #797e88;
  --red-color: #ef4444;
  --sub-red-color: #eb1515;
  --btn-blue-color: #3b82f6;
  --btn-fiolet-color: #524ae3;
  --green-color: #166534;
  --green-icon-color: #0a9488;
  --ligth-green-color: #22c55e;
  --ligth-green-color: #f0fdf4;
  --orange-color: #f59e0b;
  --ligth-fio-color: #eef2ff;
  --fio-color: #3730a3;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 26px;
}

body {
  height: 100%;
  overflow-x: hidden;
  color: var(--main-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

.c-red {
  color: var(--red-color);
}

.c-blue {
  color: var(--blue-color);
}

.c-green {
  color: var(--ligth-green-color);
}

.c-orange {
  color: var(--orange-color);
}

.p-25 {
  padding: 1.5625rem;
}

.bold-600 {
  font-weight: 600;
}

.size-14 {
  font-size: 0.875rem;
}

.w-25 {
  width: 25%;
}

.w-10 {
  width: 10%;
}

.text-u {
  text-transform: uppercase;
}

.table-img {
  max-width: 50px;
  height: auto;
  margin: 0 auto;
  display: block;
}

.list-category-admin .th-ico-center {
  text-align: center;
}
.list-category-admin .th-ico-center span {
  vertical-align: top;
}

/* LEFT DASBOARD */
.left-menu {
  margin-bottom: 40px;
}

.left-area {
  grid-area: left-d;
}

.left-dashboard {
  background: var(--sidebar-color);
  color: var(--white-color);
  padding: 1.5rem 1.56rem;
  position: fixed;
  height: 100%;
  overflow: auto;
  top: 0;
  bottom: 0;
  left: 0;
  width: 280px;
}

.logo {
  text-align: center;
  margin-bottom: 40px;
}

.logo-link {
  font-size: 2.25rem;
  line-height: 3.37rem;
  text-decoration: none;
  font-weight: 700;
  color: var(--blue-color);
}

.logo-link > span {
  font-style: italic;
  font-weight: 400;
  line-height: 3.37rem;
  font-size: 24px;
  color: var(--white-color);
}

.left-dash-title {
  color: var(--title-dash-color);
  font-size: 0.75rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  font-weight: 600;
}

.left-dash-title a {
  color: inherit;
  text-decoration: none;
}

.left-dash-title a:hover {
  opacity: 0.8;
}

.left-dash-subtitle {
  color: var(--sub-title-color);
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
  display: block;
  margin-bottom: 20px;
}

.m-left-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.m-left-item {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--white-color);
  font-weight: 500;
  padding-bottom: 10px;
}
.m-left-item:hover {
  opacity: 0.5;
}

.m-left-item a {
  color: var(--white-color);
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
}

.m-left-item span {
  vertical-align: middle;
  margin-right: 10px;
}

/* ADMIN HEADER */
.admin-header {
  grid-area: header;
  border-bottom: 1px solid var(--border-color);
  background: var(--white-color);
}

.header-container {
  margin: 0 auto;
  max-width: 1280px;
}

.header-top {
  padding-left: 50px;
  padding-right: 50px;
}

.title-admin span {
  padding-right: 10px;
  color: var(--red-color);
  font-weight: 600;
}

.title {
  color: var(--title-color);
}

.title-h1 {
  font-size: 2rem;
  line-height: 3.37rem;
  letter-spacing: -2px;
  font-weight: 800;
}

.header-bottom {
  padding: 25px 30px;
}

.header-top {
  border-bottom: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container {
  padding-left: 25px;
  padding-right: 25px;
}

.admin-subtitle {
  font-size: 1.5rem;
  line-height: 2.375rem;
  font-weight: 700;
  letter-spacing: -1px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.admin-subtitle span {
  color: var(--green-icon-color);
  font-weight: 400;
  margin-right: 5px;
}

.header-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-create {
  background: var(--btn-fiolet-color);
  border-radius: 20px;
}
.btn-create:hover {
  opacity: 0.9;
}
.btn-create a {
  color: var(--white-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 7px 20px;
  font-weight: 600;
}
.btn-create a span {
  margin-right: 5px;
}

/* FORM */
.form-area {
  background: var(--white-color);
  padding: 30px;
  border-radius: 1rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
}

/* FORM CREATE */
.form-container {
  max-width: 80%;
  margin: auto;
}
.form-container p {
  font-weight: 700;
  line-height: 1.3125rem;
  font-size: 0.875rem;
}
.form-container input[type=text],
.form-container input[type=number],
.form-container textarea,
.form-container select,
.form-container input[type=file] {
  margin-bottom: 20px;
  margin-top: 10px;
}
.form-container select {
  background: var(--white-color);
  border: 1px solid var(--inpt-b-color);
  padding: 10px;
  border-radius: 7px;
  font-family: var(--main-font);
  font-size: 0.875rem;
  outline: none;
}

.form-container input[type=text],
.form-container input[type=number],
.form-container textarea {
  font-size: 0.9rem;
  line-height: 1.3rem;
  font-family: inherit;
  color: var(--main-color);
  border: 1px solid var(--inpt-b-color);
  padding: 10px 15px;
  border-radius: 10px;
}

.form-container input[type=number] {
  width: 25%;
  padding-left: 15px;
}

.form-container input[type=text],
.form-container textarea {
  width: 100%;
}

.form-container textarea {
  min-height: 300px;
}

.btn-create-gpu {
  margin-top: 20px;
}
.btn-create-gpu input {
  background: var(--blue-color);
  padding: 10px 15px;
  font-size: 1rem;
  border: none;
  color: var(--white-color);
  font-weight: 500;
  border-radius: 7px;
  cursor: pointer;
}
.btn-create-gpu input:hover {
  opacity: 0.8;
}

.admin-area {
  display: grid;
  height: 100vh;
  grid-template-areas: "left-d header header" "left-d main main";
  grid-template-columns: 280px 1fr;
  grid-template-rows: auto 1fr;
}

.admin-main {
  grid-area: main;
  background: var(--main-area-color);
}

.main-container {
  max-width: 1280px;
  margin: 40px auto 40px auto;
  padding-left: 25px;
  padding-right: 25px;
}

.logout {
  text-decoration: none;
  color: var(--main-color);
  font-weight: 600;
}

.logout:hover {
  opacity: 0.8;
}

.logout span {
  vertical-align: middle;
}

/* STATISTIC */
.statistic {
  display: flex;
  justify-content: start;
}

.static-item {
  text-align: center;
  width: 25%;
  background: var(--white-color);
  margin-right: 20px;
  padding: 30px;
  border-radius: 1rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
}

.static-item:nth-child(4n) {
  margin-right: 0;
}

.title-staistic {
  color: var(--title-color);
  font-size: 1rem;
  text-align: left;
  margin-bottom: 25px;
}

.title-staistic a {
  color: inherit;
  text-decoration: none;
}

.title-staistic a:hover {
  opacity: 0.5;
}

.count-article {
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 700;
  margin-bottom: 5px;
}

.count-article a span,
.count-article a {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  display: block;
  text-decoration: none;
}

.info-statistic {
  margin-bottom: 30px;
}

.info-sub {
  font-size: 0.812rem;
  line-height: 1.25rem;
}

.info-sub span {
  font-size: 1rem;
  line-height: 1.625rem;
  font-weight: 600;
}

/* ARTICLE AREA */
.admin-article-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--white-color);
  margin-bottom: 1.56rem;
  border-radius: 1rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
}

.a-img-area,
.a-title-area,
.a-link-area {
  padding: 1.56rem;
}

.a-img-area {
  border-right: 1px solid var(--border-color);
}

.img-admin-article {
  width: 300px;
  height: auto;
}

.admin-article-title {
  color: var(--title-color);
  font-size: 1rem;
  line-height: 1.62rem;
}

.admin-article-subtitle {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.a-link-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-del {
  color: var(--main-color);
  background: var(--main-area-color);
  border: 2px solid rgba(100, 116, 139, 0.5);
  margin-right: 10px;
}

.article-del:hover,
.article-edit:hover {
  opacity: 0.8;
}

.article-del span {
  padding: 2px 7px;
}

.article-edit {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  padding: 3px 7px;
  border: 2px solid rgba(22, 101, 52, 0.5);
  color: var(--green-color);
  background: var(--ligth-green-color);
  margin-right: 10px;
}

.article-edit span {
  vertical-align: middle;
  margin-left: 10px;
}

.article-del,
.article-edit {
  font-size: 0.875rem;
  border-radius: 5px;
}

.article-del span,
.article-edit span {
  font-size: 1.125rem;
  line-height: 1.625rem;
}

.list-category-admin {
  border-collapse: collapse;
  width: 100%;
}
.list-category-admin td {
  font-size: 0.875rem;
  line-height: 1.5rem;
}
.list-category-admin th {
  background: #97A0A9;
  color: var(--white-color);
  text-align: left;
}
.list-category-admin td,
.list-category-admin th {
  padding: 10px 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.list-category-admin tr:hover {
  background: rgba(151, 160, 169, 0.1);
}

.edit-cat,
.del-cat {
  line-height: 26px;
  display: block;
  text-decoration: none;
  text-align: center;
}
.edit-cat:hover,
.del-cat:hover {
  text-decoration: underline;
}
.edit-cat span,
.del-cat span {
  line-height: 26px;
  vertical-align: top;
  font-size: 22px;
}

.edit-cat {
  color: var(--blue-color);
}

.del-cat {
  color: var(--red-color);
}
.del-cat span {
  margin-right: 5px;
}

.war-del {
  background: rgba(239, 68, 68, 0.1);
}

.war-edit {
  background: rgba(21, 101, 192, 0.1);
}

/*# sourceMappingURL=admin.css.map */
