@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
:root {
  --red-color: #dc3545;
  --blue-color: #01689c;
  --logo-color: #fed700;
  --yellow-color: #fed700;
  --logo-span-color: #232323;
  --main-color: #333e48;
  --main-color-ligth: #f0f0f4;
  --green-color: #aec804;
  --grey-color: #a4bbc5;
  --bg-grey-color: #f1f1f1;
  --link-color: #7598a7;
  --ligth-grey: #f8f8f8;
  --table-hover-color: #eaeaea;
  --white-color: #fff;
  --main-font: "Open Sans", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 26px;
}

body {
  color: var(--main-color);
}

.grid-container {
  display: grid;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  gap: 20px 0;
}

.main {
  grid-area: main;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  letter-spacing: -2px;
}

.bold {
  font-weight: 600;
}

.article-title {
  line-height: 2.625rem;
}

.article-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 20px;
}

.article-item {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.article-item div {
  margin-bottom: auto;
}
.article-item div .img-article-title {
  max-width: 100%;
  height: auto;
}
.article-item .article-item-link {
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: normal;
  color: var(--main-color);
}
.article-item .article-item-link:hover {
  text-decoration: underline;
}
.article-item .main-article-title {
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: normal;
}

.header {
  grid-area: header;
  padding: 0 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding-right: 40px;
  margin-right: auto;
}

.logo-link {
  font-size: 38px;
  line-height: 3.37rem;
  text-decoration: none;
  font-weight: 800;
  letter-spacing: -2px;
  color: var(--main-color);
}
.logo-link span {
  font-weight: 700;
  line-height: 3.37rem;
  font-size: 3rem;
  color: var(--yellow-color);
}

.dev-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  line-height: 3.37rem;
}

.menu-item,
.login-item,
.menu-link,
.login-link {
  font-weight: 600;
  color: var(--main-color);
}

.menu-link,
.login-link {
  text-decoration: none;
  padding: 0 10px;
  display: block;
}

.menu-link:hover,
.login-link:hover {
  color: var(--green-color);
}

.login-menu {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 25px;
}

.header-menu {
  padding-right: 25px;
}

.title {
  font-size: 2rem;
  line-height: 3.37rem;
  margin-bottom: 10px;
  font-weight: 800;
  letter-spacing: -2px;
}

.footer {
  grid-area: footer;
  background: var(--main-color);
  color: #fff;
}

.footer-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 40px;
  display: flex;
  justify-content: start;
}

.footer-container * {
  color: #fff;
}

.footer-section {
  margin-right: 40px;
}

.flex-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.err-title {
  font-weight: 700;
  font-size: 10rem;
}

.responsive-img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

/* GPU DB */
.gpudb-img {
  margin-bottom: 20px;
  margin-top: 20px;
  display: block;
}

.spec-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: start;
  margin-bottom: 20px;
}

.spec-list li {
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.1);
  color: #555;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 10px;
}

.spec-list li span {
  text-transform: lowercase;
}

.menu-box-category {
  margin-bottom: 40px;
}

.founders-category {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.founders-category li {
  margin-right: 20px;
}

.founders-category li a {
  text-decoration: none;
  color: var(--link-color);
}

.founders-category li a:hover {
  text-decoration: underline;
}

.part-num {
  color: var(--link-color);
  text-transform: uppercase;
}

.content-gpudb {
  margin-bottom: 40px;
}

.vendor-title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 1.7rem;
  color: var(--white-color);
  background: var(--main-color);
  padding: 10px 20px;
  display: inline-block;
  border-radius: 7px;
}
.vendor-title span {
  color: var(--yellow-color);
  text-transform: uppercase;
  font-style: normal;
}

.vendor-subtitle {
  font-weight: 500;
  color: var(--main-color);
  font-size: 1.2rem;
  margin-bottom: 20px;
  letter-spacing: -1px;
}

.vendor-mini-img {
  max-width: 50px;
  height: auto;
  display: block;
  margin: auto;
}

.vendor-table {
  border-collapse: collapse;
  width: 100%;
}

.vendor-table td,
.vendor-table th {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 8px;
}

.vendor-table td {
  font-size: 14px;
}

.vendor-table tr:nth-child(even) {
  background-color: var(--ligth-grey);
}

.vendor-table th {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  background-color: var(--yellow-color);
  color: var(--main-color);
}

.vendor-table tr:hover {
  background-color: var(--table-hover-color);
}

.vendor-link {
  text-decoration: none;
  color: var(--blue-color);
}

.vendor-table .th-img {
  text-align: center;
  padding-top: 12px;
}

.main-flex {
  display: flex;
  align-items: center;
}

.register-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px 40px 10px 40px;
  outline: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background: var(--main-color-ligth);
}

.register-form {
  display: flex;
  flex-direction: column;
}

.reg-inpt {
  width: 330px;
  color: var(--main-color);
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.reg-inpt,
.reg-btn {
  padding: 5px 10px;
  font-weight: 600;
  font-family: var(--main-font);
  outline: none;
  font-size: 1rem;
  line-height: 1.6rem;
  border-radius: 5px;
}

.reg-btn {
  color: var(--ligth-grey);
  background: var(--main-color);
  border: 1px solid var(--main-color);
  cursor: pointer;
  margin: 10px 0 20px 0;
}

.reg-btn span {
  line-height: 1.6rem;
  vertical-align: middle;
  margin-right: 5px;
}

.reg-btn:hover {
  opacity: 0.8;
}

.link-form-login {
  color: var(--logo-color);
}

.error-section {
  color: var(--red-color);
  font-size: 0.9rem;
}

.ip-check {
  margin-right: 5px;
}

.main-table-founders {
  margin-bottom: 40px;
}

/*# sourceMappingURL=style.css.map */
