// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@import "./includes-index/main";
@import "./includes-index/header";
@import "./includes-index/footer";

.flex-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.err-title {
  font-weight: 700;
  font-size: 10rem;
}

.responsive-img {
  max-width: 100%;
  height: auto;
}

/* GPU DB */

.gpudb-img {
  margin-bottom: 20px;
  margin-top: 20px;
  display: block;
}

.spec-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: start;
  margin-bottom: 20px;
}

.spec-list li {
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, .1);
  background-color: rgba(0, 0, 0, .1);
  color: #555;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 10px;
}

.spec-list li span {
  text-transform: lowercase;
}

.menu-box-category {
  margin-bottom: 40px;
}

.founders-category {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.founders-category li {
  margin-right: 20px;
}

.founders-category li a {
  text-decoration: none;
  color: var(--link-color);
}

.founders-category li a:hover {
  text-decoration: underline;
}

.part-num {
  color: var(--link-color);
  text-transform: uppercase;
}

.content-gpudb {
  margin-bottom: 40px;
}

.vendor-title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 1.7rem;
  color: var(--white-color);
  background: var(--main-color);
  padding: 10px 20px;
  display: inline-block;
  border-radius: 7px;

  span {
    color: var(--yellow-color);
    text-transform: uppercase;
    font-style: normal;
  }
}

.vendor-subtitle {
  font-weight: 400;
  color: var(--main-color);
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.vendor-mini-img {
  max-width: 50px;
  height: auto;
  display: block;
  margin: auto;
}

.vendor-table {
  border-collapse: collapse;
  width: 100%;
}

.vendor-table td,
.vendor-table th {
  border: 1px solid rgba(0, 0, 0, .1);
  padding: 8px;
}

.vendor-table td {
  font-size: 14px;
}

.vendor-table tr:nth-child(even) {
  background-color: var(--ligth-grey);
}

.vendor-table th {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  background-color: var(--yellow-color);
  color: var(--main-color);
}

.vendor-table tr:hover {
  background-color: var(--table-hover-color);
}

.vendor-link {
  text-decoration: none;
  color: var(--blue-color);
}

.vendor-table .th-img {
  text-align: center;
  padding-top: 12px;
}

.main-flex {
  display: flex;
  align-items: center;
}

.register-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px 40px 10px 40px;
  outline: 1px solid rgba(0, 0, 0, .1);
  border-radius: 15px;
  background: var(--main-color-ligth);
}

.register-form {
  display: flex;
  flex-direction: column;
}

.reg-inpt {
  width: 330px;
  color: var(--main-color);
  border: 1px solid rgba(0, 0, 0, .2);
  margin-bottom: 20px;
}

.reg-inpt,
.reg-btn {
  padding: 5px 10px;
  font-weight: 600;
  font-family: var(--main-font);
  outline: none;
  font-size: 1rem;
  line-height: 1.6rem;
  border-radius: 5px;
}

.reg-btn {
  color: var(--ligth-grey);
  background: var(--main-color);
  border: 1px solid var(--main-color);
  cursor: pointer;
  margin: 10px 0 20px 0;
}

.reg-btn span {
  line-height: 1.6rem;
  vertical-align: middle;
  margin-right: 5px;
}

.reg-btn:hover {
  opacity: .8;
}

.link-form-login {
  color: var(--logo-color);
}

.error-section {
  color: var(--red-color);
  font-size: 0.9rem;
}

.ip-check {
  margin-right: 5px;
}